# .coveragerc to control coverage.py

[run]
#command_line = -m pytest -v tests
source = /pyprojmsrv/
omit =
    # omit this single file
    #setup.py
    # omit everything in /tests
    */tests/*


[report]
omit =
    # omit this single file
    setup.py
    # omit everything in /tests
    #tests

[html]
directory = reports/covhtml

[xml]
output = reports/covxml/coverage.xml
