.vscode
.pyprojmsrv-venv

reports
.coverage
*.py,cover
.pytest_cache

dist
docs

__pycache__

src/pyprojmsrv/__pycache__
src/pyprojmsrv.egg-info

tests/__pycache__

# Temporary files
dev-env.txt
*.bak
ex.md
